## Extract

Primero que nada transformo los datos en csv para visualizarlo mas facilmente, no es necesario pero me facilita ver los datos de una forma mas intuitiva

#### Convertir los json a csv

funcion para extraer gzip

In [16]:

import gzip
import shutil

def extract_gzip(gzip_path, dest_path):
    with gzip.open(gzip_path, 'rb') as f_in:
        with open(dest_path, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f'Archivo {gzip_path} extraído en {dest_path}')

funciones para convertir los json en csv

In [17]:
import json
import csv

def json_to_csv(json_file, csv_file):
    # Abre el archivo JSON
    with open(json_file, 'rt', encoding='utf-8') as file:
        # Lee todas las líneas del archivo
        json_lines = file.readlines()

    # Convierte cada línea a un objeto Python y concaténalos en una lista
    data = [json.loads(line) for line in json_lines]

    # Abre el archivo CSV para escribir
    with open(csv_file, 'w', newline='', encoding='utf-8') as csv_file:
        # Crea un objeto escritor CSV
        csv_writer = csv.writer(csv_file)

        # Escribe el encabezado del CSV (asumiendo que los keys del primer objeto son los encabezados)
        csv_writer.writerow(data[0].keys())

        # Escribe cada fila en el CSV
        for row in data:
            csv_writer.writerow(row.values())

In [18]:
import ast
import pandas as pd

def json_to_csv2(json_file, csv_file):
    # Inicializamos una lista vacía para almacenar los datos
    data = []

    # Abrimos el archivo JSON en modo lectura
    with open(json_file, 'r', encoding='utf-8') as f:
        # Iteramos sobre cada línea en el archivo
        for line in f:
            try:
                # Intentamos convertir la línea de texto a un objeto Python usando ast.literal_eval
                # y lo añadimos a la lista data
                data.append(ast.literal_eval(line))
            except:
                continue

    # Convertimos la lista de datos a un DataFrame de pandas
    df = pd.DataFrame(data)

    # Guardamos el DataFrame en un archivo CSV
    df.to_csv(csv_file, index=False)

aplico las funciones

steam games

In [24]:
json_file = 'Datos-Json/output_steam_games.json'
csv_file = 'Datos-Csv/output_steam_games.csv'
json_to_csv(json_file, csv_file)

user reviews

In [ ]:
json_file = 'Datos-Json/australian_user_reviews.json'
csv_file = 'Datos-Csv/australian_user_reviews.csv'
json_to_csv2(json_file, csv_file)

user items

In [19]:
extract_gzip('Datos-Json/users_items.json.gz', 'Datos-Json/australian_users_items.json')

Archivo Datos-Json/users_items.json.gz extraído en Datos-Json/australian_users_items.json

In [21]:
json_file = 'Datos-Json/australian_users_items.json'
csv_file = 'Datos-Csv/australian_user_items.csv'
json_to_csv2(json_file, csv_file)

los transformo en dataframes

In [25]:
import pandas as pd

# Cargar los archivos CSV en DataFrames
df_australian_user_reviews = pd.read_csv('Datos-Csv/australian_user_reviews.csv')
df_australian_users_items = pd.read_csv('Datos-Csv/australian_user_items.csv')
df_output_steam_games = pd.read_csv('Datos-Csv/output_steam_games.csv')

C:\Users\Facundete\AppData\Local\Temp\ipykernel_5772\3411682378.py:6: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_output_steam_games = pd.read_csv('Datos-Csv/output_steam_games.csv')

valido los dataframes

In [26]:
df_australian_user_reviews.sample(5)

,user_id,user_url,reviews
16747,76561198169374360,http://steamcommunity.com/profiles/76561198169...,"[{'funny': '', 'posted': 'Posted July 12.', 'l..."
2836,a4fg44as54g,http://steamcommunity.com/id/a4fg44as54g,"[{'funny': '', 'posted': 'Posted September 27,..."
22657,76561198074327940,http://steamcommunity.com/profiles/76561198074...,"[{'funny': '', 'posted': 'Posted November 16, ..."
945,76561198094830975,http://steamcommunity.com/profiles/76561198094...,"[{'funny': '', 'posted': 'Posted March 1.', 'l..."
15247,potatonuggsssss,http://steamcommunity.com/id/potatonuggsssss,"[{'funny': '', 'posted': 'Posted May 25, 2015...."

In [27]:
df_australian_users_items.sample(5)

,user_id,items_count,steam_id,user_url,items
29279,76561198045444761,156,76561198045444761,http://steamcommunity.com/profiles/76561198045...,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
12732,Stromtrooper21,145,76561198097059278,http://steamcommunity.com/id/Stromtrooper21,"[{'item_id': '220', 'item_name': 'Half-Life 2'..."
46246,kurty_nark,13,76561198013840671,http://steamcommunity.com/id/kurty_nark,"[{'item_id': '17430', 'item_name': 'Need for S..."
30146,76561198074469721,41,76561198074469721,http://steamcommunity.com/profiles/76561198074...,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
38736,76561198054753156,208,76561198054753156,http://steamcommunity.com/profiles/76561198054...,"[{'item_id': '70', 'item_name': 'Half-Life', '..."

In [38]:
df_output_steam_games.sample(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
35661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100596,Double Dice Games,"['Adventure', 'Indie', 'RPG']",Willy-Nilly Knight,Willy-Nilly Knight,http://store.steampowered.com/app/610500/Willy...,2017-11-10,"['RPG', 'Adventure', 'Indie', 'Fantasy', 'Tact...",http://steamcommunity.com/app/610500/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",14.99,False,610500.0,Double Dice Games
20437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116940,Re-Logic,"['Adventure', 'Indie', 'RPG', 'Simulation']",Pixel Piracy,Pixel Piracy,http://store.steampowered.com/app/264140/Pixel...,2015-04-23,"['Pirates', 'Indie', 'Pixel Graphics', 'RPG', ...",http://steamcommunity.com/app/264140/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",9.99,False,264140.0,Vitali Kirpu
69536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Transform

Funcion de normalizacion

In [39]:
import pandas as pd

#normalizacion en general
def normalize_dataframe(df, null_tolerance, column_name=None, min_chars=None):
    # Eliminar duplicados
    df.drop_duplicates(inplace=True)

    # Eliminar filas con más de 'null_tolerance' valores nulos
    df.dropna(thresh=null_tolerance, inplace=True)

    # Eliminar filas que contienen listas vacías
    for col in df.columns:
        df = df[df[col].apply(lambda x: x != [] if isinstance(x, list) else True)]

    # Si se proporciona un nombre de columna y un mínimo de caracteres,
    # eliminar las filas donde el contenido de esa columna tiene menos caracteres que 'min_chars'
    if column_name and min_chars:
        df = df[df[column_name].str.len() >= min_chars]

    # Si se proporciona un nombre de columna,
    # eliminar las filas donde el contenido de esa columna es una lista vacía
    if column_name:
        df = df[df[column_name].apply(lambda x: x != [] if isinstance(x, list) else True)]

    return df

normalizacion de fechas

In [40]:
import pandas as pd

#normalizacion de fechas
def normalize_date_column(df, date_column):
    # Intentamos convertir la columna de fechas al formato deseado
    try:
        df[date_column] = pd.to_datetime(df[date_column], format='%Y-%m-%d')
    except ValueError:
        # Si la conversión falla, eliminamos las filas con fechas en un formato incorrecto
        df = df[pd.to_datetime(df[date_column], errors='coerce').notna()]
    return df

#### Steam Games

In [41]:
df_output_steam_games_normalizado=normalize_dataframe(df_output_steam_games,5)
df_output_steam_games_normalizado=normalize_date_column(df_output_steam_games,'release_date')

#### User Reviews

Analisis de las emociones de las reseñas

In [46]:
import pandas as pd
from textblob import TextBlob

# Asegurarse de que 'reviews' sea una lista de diccionarios
df_australian_user_reviews['reviews'] = df_australian_user_reviews['reviews'].apply(lambda x: eval(x) if pd.notna(x) else [])

# Extraer el contenido de la columna 'review'
df_australian_user_reviews['review_content'] = df_australian_user_reviews['reviews'].apply(lambda reviews: [review['review'] for review in reviews])

# Función para realizar el análisis de sentimiento y devolver el puntaje
def get_sentiment_score(review):
    analysis = TextBlob(str(review))
    if analysis.sentiment.polarity > 0:
        return 2  # Positivo
    elif analysis.sentiment.polarity == 0:
        return 1  # Neutral
    else:
        return 0  # Negativo

# Aplicar el análisis de sentimiento y reemplazar el texto en 'review' con el puntaje
df_australian_user_reviews['reviews'] = df_australian_user_reviews['reviews'].apply(lambda reviews: [{'sentiment_analysis': get_sentiment_score(review['review']), **review} for review in reviews])

# Imprimir las primeras filas del DataFrame resultante
print(df_australian_user_reviews[['reviews']])

                                                 reviews
0      [{'sentiment_analysis': 2, 'funny': '', 'poste...
1      [{'sentiment_analysis': 2, 'funny': '', 'poste...
2      [{'sentiment_analysis': 2, 'funny': '', 'poste...
3      [{'sentiment_analysis': 2, 'funny': '', 'poste...
4      [{'sentiment_analysis': 1, 'funny': '3 people ...
...                                                  ...
25794  [{'sentiment_analysis': 2, 'funny': '', 'poste...
25795  [{'sentiment_analysis': 1, 'funny': '', 'poste...
25796  [{'sentiment_analysis': 1, 'funny': '1 person ...
25797  [{'sentiment_analysis': 2, 'funny': '', 'poste...
25798  [{'sentiment_analysis': 2, 'funny': '1 person ...

[25799 rows x 1 columns]

In [48]:
df_australian_user_reviews.sample(5)

,user_id,user_url,reviews,review_content
9979,ImAwreo,http://steamcommunity.com/id/ImAwreo,"[{'sentiment_analysis': 0, 'funny': '1 person ...",[fun game would recommend for zombie lovers]
9039,imjeans,http://steamcommunity.com/id/imjeans,"[{'sentiment_analysis': 2, 'funny': '1 person ...",[I don't like thisit is better to go back to s...
18810,onshypnos,http://steamcommunity.com/id/onshypnos,"[{'sentiment_analysis': 2, 'funny': '', 'poste...","[Short, but one of the more inventive puzzlers..."
24005,76561198088378528,http://steamcommunity.com/profiles/76561198088...,"[{'sentiment_analysis': 2, 'funny': '', 'poste...","[I've played the game for over 4 years now, i ..."
12070,76561198072429924,http://steamcommunity.com/profiles/76561198072...,"[{'sentiment_analysis': 2, 'funny': '', 'poste...",[i keep finsing this glitch that pissies me of...

In [ ]:
df_australian_user_reviews.to_csv('Datos-Normalizados/australian_user_reviews_normalizado.csv')

#### User Items

In [49]:
df_australian_users_items_normalizado=normalize_dataframe(df_australian_users_items,0,'items',4)

In [50]:
df_australian_users_items_normalizado.sample(5)

,user_id,items_count,steam_id,user_url,items
41742,76561198046800891,80,76561198046800891,http://steamcommunity.com/profiles/76561198046...,"[{'item_id': '7670', 'item_name': 'BioShock', ..."
87714,76561198180539829,12,76561198180539829,http://steamcommunity.com/profiles/76561198180...,"[{'item_id': '205790', 'item_name': 'Dota 2 Te..."
68068,76561198072413255,120,76561198072413255,http://steamcommunity.com/profiles/76561198072...,"[{'item_id': '33910', 'item_name': 'Arma 2', '..."
1642,76561198060670197,54,76561198060670197,http://steamcommunity.com/profiles/76561198060...,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
64416,76561198068925902,3,76561198068925902,http://steamcommunity.com/profiles/76561198068...,"[{'item_id': '205790', 'item_name': 'Dota 2 Te..."

## Load

#### User Reviews

In [51]:
df_australian_user_reviews.to_csv('Datos-Normalizados/australian_user_reviews_normalizado.csv')

#### User Items

In [52]:
df_australian_users_items_normalizado.to_csv('Datos-Normalizados/australian_users_items_normalizado.csv')

#### Steam Games

In [53]:
df_output_steam_games_normalizado.to_csv("Datos-Normalizados/output_steam_games_normalizado.csv")