## Extract

Primero que nada transformo los datos en csv para visualizarlo mas facilmente, no es necesario pero me facilita ver los datos de una forma mas intuitiva

#### Convertir los json a csv

funcion para extraer gzip

In [5]:

import gzip
import shutil

def extract_gzip(gzip_path, dest_path):
    with gzip.open(gzip_path, 'rb') as f_in:
        with open(dest_path, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f'Archivo {gzip_path} extra√≠do en {dest_path}')

funciones para convertir los json en csv

In [6]:
import json
import csv

def json_to_csv(json_file, csv_file):
    # Abre el archivo JSON
    with open(json_file, 'rt', encoding='utf-8') as file:
        # Lee todas las l√≠neas del archivo
        json_lines = file.readlines()

    # Convierte cada l√≠nea a un objeto Python y concat√©nalos en una lista
    data = [json.loads(line) for line in json_lines]

    # Abre el archivo CSV para escribir
    with open(csv_file, 'w', newline='', encoding='utf-8') as csv_file:
        # Crea un objeto escritor CSV
        csv_writer = csv.writer(csv_file)

        # Escribe el encabezado del CSV (asumiendo que los keys del primer objeto son los encabezados)
        csv_writer.writerow(data[0].keys())

        # Escribe cada fila en el CSV
        for row in data:
            csv_writer.writerow(row.values())

In [7]:
import ast
import pandas as pd

def json_to_csv2(json_file, csv_file):
    # Inicializamos una lista vac√≠a para almacenar los datos
    data = []

    # Abrimos el archivo JSON en modo lectura
    with open(json_file, 'r', encoding='utf-8') as f:
        # Iteramos sobre cada l√≠nea en el archivo
        for line in f:
            try:
                # Intentamos convertir la l√≠nea de texto a un objeto Python usando ast.literal_eval
                # y lo a√±adimos a la lista data
                data.append(ast.literal_eval(line))
            except:
                continue

    # Convertimos la lista de datos a un DataFrame de pandas
    df = pd.DataFrame(data)

    # Guardamos el DataFrame en un archivo CSV
    df.to_csv(csv_file, index=False)

aplico las funciones

steam games

In [8]:
json_file = 'Datos-Json/output_steam_games.json'
csv_file = 'Datos-Csv/output_steam_games.csv'
json_to_csv(json_file, csv_file)

user reviews

In [9]:
json_file = 'Datos-Json/australian_user_reviews.json'
csv_file = 'Datos-Csv/australian_user_reviews.csv'
json_to_csv2(json_file, csv_file)

user items

In [10]:
extract_gzip('Datos-Json/users_items.json.gz', 'Datos-Json/australian_users_items.json')

Archivo Datos-Json/users_items.json.gz extra√≠do en Datos-Json/australian_users_items.json

In [11]:
json_file = 'Datos-Json/australian_users_items.json'
csv_file = 'Datos-Csv/australian_user_items.csv'
json_to_csv2(json_file, csv_file)

los transformo en dataframes

In [12]:
import pandas as pd

# Cargar los archivos CSV en DataFrames
df_australian_user_reviews = pd.read_csv('Datos-Csv/australian_user_reviews.csv')
df_australian_users_items = pd.read_csv('Datos-Csv/australian_user_items.csv')
df_output_steam_games = pd.read_csv('Datos-Csv/output_steam_games.csv')

C:\Users\Facundete\AppData\Local\Temp\ipykernel_16508\3411682378.py:6: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_output_steam_games = pd.read_csv('Datos-Csv/output_steam_games.csv')

valido los dataframes

In [13]:
df_australian_user_reviews.sample(5)

,user_id,user_url,reviews
22234,76561198071102795,http://steamcommunity.com/profiles/76561198071...,"[{'funny': '', 'posted': 'Posted July 12.', 'l..."
12762,76561198071399737,http://steamcommunity.com/profiles/76561198071...,"[{'funny': '', 'posted': 'Posted July 3, 2015...."
23100,Bestyzazaka,http://steamcommunity.com/id/Bestyzazaka,"[{'funny': '', 'posted': 'Posted June 13, 2014..."
12565,76561198152308479,http://steamcommunity.com/profiles/76561198152...,"[{'funny': '', 'posted': 'Posted April 8, 2015..."
7286,76561198084616658,http://steamcommunity.com/profiles/76561198084...,"[{'funny': '', 'posted': 'Posted December 8, 2..."

In [14]:
df_australian_users_items.sample(5)

,user_id,items_count,steam_id,user_url,items
68394,76561198072706321,54,76561198072706321,http://steamcommunity.com/profiles/76561198072...,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
45243,dr-nick-au,5,76561198002832599,http://steamcommunity.com/id/dr-nick-au,"[{'item_id': '17330', 'item_name': 'Crysis War..."
72766,76561198078917043,29,76561198078917043,http://steamcommunity.com/profiles/76561198078...,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
15943,spartaaagh,82,76561198068588623,http://steamcommunity.com/id/spartaaagh,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
57545,76561198059031000,0,76561198059031000,http://steamcommunity.com/profiles/76561198059...,[]

In [15]:
df_output_steam_games.sample(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
97448,NaN,"['Indie', 'RPG', 'Strategy']",Fantasy Grounds - Secret of Marseille (Call of...,Fantasy Grounds - Secret of Marseille (Call of...,http://store.steampowered.com/app/607450/Fanta...,2017-03-15,"['Strategy', 'RPG', 'Indie']",http://steamcommunity.com/app/607450/reviews/?...,"['Multi-player', 'Co-op', 'Cross-Platform Mult...",5.99,False,607450.0,"SmiteWorks USA, LLC"
69633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Transform

Funcion de normalizacion

In [16]:
import pandas as pd

#normalizacion en general
def normalize_dataframe(df, null_tolerance, column_name=None, min_chars=None):
    # Eliminar duplicados
    df.drop_duplicates(inplace=True)

    # Eliminar filas con m√°s de 'null_tolerance' valores nulos
    df.dropna(thresh=null_tolerance, inplace=True)

    # Eliminar filas que contienen listas vac√≠as
    for col in df.columns:
        df = df[df[col].apply(lambda x: x != [] if isinstance(x, list) else True)]

    # Si se proporciona un nombre de columna y un m√≠nimo de caracteres,
    # eliminar las filas donde el contenido de esa columna tiene menos caracteres que 'min_chars'
    if column_name and min_chars:
        df = df[df[column_name].str.len() >= min_chars]

    # Si se proporciona un nombre de columna,
    # eliminar las filas donde el contenido de esa columna es una lista vac√≠a
    if column_name:
        df = df[df[column_name].apply(lambda x: x != [] if isinstance(x, list) else True)]

    return df

normalizacion de fechas

In [17]:
import pandas as pd

#normalizacion de fechas
def normalize_date_column(df, date_column):
    # Intentamos convertir la columna de fechas al formato deseado
    try:
        df[date_column] = pd.to_datetime(df[date_column], format='%Y-%m-%d')
    except ValueError:
        # Si la conversi√≥n falla, eliminamos las filas con fechas en un formato incorrecto
        df = df[pd.to_datetime(df[date_column], errors='coerce').notna()]
    return df

#### Steam Games

In [18]:
df_output_steam_games_normalizado=normalize_dataframe(df_output_steam_games,5)
df_output_steam_games_normalizado=normalize_date_column(df_output_steam_games,'release_date')

#### User Reviews

Analisis de las emociones de las rese√±as

In [19]:
import pandas as pd
from textblob import TextBlob

# Asegurarse de que 'reviews' sea una lista de diccionarios
df_australian_user_reviews['reviews'] = df_australian_user_reviews['reviews'].apply(lambda x: eval(x) if pd.notna(x) else [])

# Extraer el contenido de la columna 'review'
df_australian_user_reviews['review_content'] = df_australian_user_reviews['reviews'].apply(lambda reviews: [review['review'] for review in reviews])

# Funci√≥n para realizar el an√°lisis de sentimiento y devolver el puntaje
def get_sentiment_score(review):
    analysis = TextBlob(str(review))
    if analysis.sentiment.polarity > 0:
        return 2  # Positivo
    elif analysis.sentiment.polarity == 0:
        return 1  # Neutral
    else:
        return 0  # Negativo

# Aplicar el an√°lisis de sentimiento y reemplazar el texto en 'review' con el puntaje
df_australian_user_reviews['reviews'] = df_australian_user_reviews['reviews'].apply(lambda reviews: [{'sentiment_analysis': get_sentiment_score(review['review']), **review} for review in reviews])

# Imprimir las primeras filas del DataFrame resultante
print(df_australian_user_reviews[['reviews']])

                                                 reviews
0      [{'sentiment_analysis': 2, 'funny': '', 'poste...
1      [{'sentiment_analysis': 2, 'funny': '', 'poste...
2      [{'sentiment_analysis': 2, 'funny': '', 'poste...
3      [{'sentiment_analysis': 2, 'funny': '', 'poste...
4      [{'sentiment_analysis': 1, 'funny': '3 people ...
...                                                  ...
25794  [{'sentiment_analysis': 2, 'funny': '', 'poste...
25795  [{'sentiment_analysis': 1, 'funny': '', 'poste...
25796  [{'sentiment_analysis': 1, 'funny': '1 person ...
25797  [{'sentiment_analysis': 2, 'funny': '', 'poste...
25798  [{'sentiment_analysis': 2, 'funny': '1 person ...

[25799 rows x 1 columns]

In [20]:
df_australian_user_reviews.sample(5)

,user_id,user_url,reviews,review_content
12499,76561198042359407,http://steamcommunity.com/profiles/76561198042...,"[{'sentiment_analysis': 1, 'funny': '', 'poste...",[10/10]
13902,livaris,http://steamcommunity.com/id/livaris,"[{'sentiment_analysis': 2, 'funny': '', 'poste...",[DLC looks great and I'd really wish everyone ...
6385,TFWUMastab82Sanic,http://steamcommunity.com/id/TFWUMastab82Sanic,"[{'sentiment_analysis': 2, 'funny': '', 'poste...","[Its basic, But amazing. It really is great an..."
8868,76561198089779183,http://steamcommunity.com/profiles/76561198089...,"[{'sentiment_analysis': 1, 'funny': '', 'poste...","[Killing Floor 2 no Mac ?, üíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíãüíã..."
24360,felixguard12,http://steamcommunity.com/id/felixguard12,"[{'sentiment_analysis': 1, 'funny': '', 'poste...",[‡∏î‡∏µ‡∏°‡∏≤‡∏Å‡πÄ‡∏Å‡∏°‡∏ô‡∏µ‡πâ]

In [21]:
df_australian_user_reviews.to_csv('Datos-Normalizados/australian_user_reviews_normalizado.csv')

#### User Items

In [22]:
df_australian_users_items_normalizado=normalize_dataframe(df_australian_users_items,0,'items',4)

In [23]:
df_australian_users_items_normalizado.sample(5)

,user_id,items_count,steam_id,user_url,items
39505,76561198092492252,47,76561198092492252,http://steamcommunity.com/profiles/76561198092...,"[{'item_id': '1250', 'item_name': 'Killing Flo..."
68322,nimoxnazgul,4,76561198072636155,http://steamcommunity.com/id/nimoxnazgul,"[{'item_id': '205790', 'item_name': 'Dota 2 Te..."
77152,76561198086318133,86,76561198086318133,http://steamcommunity.com/profiles/76561198086...,"[{'item_id': '6510', 'item_name': 'Lost Planet..."
21424,theapocalixto,56,76561198103565839,http://steamcommunity.com/id/theapocalixto,"[{'item_id': '4000', 'item_name': ""Garry's Mod..."
62336,76561198066549984,2,76561198066549984,http://steamcommunity.com/profiles/76561198066...,"[{'item_id': '730', 'item_name': 'Counter-Stri..."

## Load

#### User Reviews

In [24]:
df_australian_user_reviews.to_csv('Datos-Normalizados/australian_user_reviews_normalizado.csv')

#### User Items

In [25]:
df_australian_users_items_normalizado.to_csv('Datos-Normalizados/australian_users_items_normalizado.csv')

#### Steam Games

In [26]:
df_output_steam_games_normalizado.to_csv("Datos-Normalizados/output_steam_games_normalizado.csv")